/* Global */
*, ::after, ::before {
    box-sizing: border-box;
}

.menu {
  text-align: right;
}

.shop-name {
  text-align: left;
}
.impression {
  background-image: url("https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  position: relative;
}
/*.navbar {
padding: 12px 10px;
}
.navbar div {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar div a {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}*/
/* Navigation */
.navigation {
  background: none;
  padding: 12px 0;
}
.menu p {
  padding-left: 50px;
  font-family: fantasy;
  font-size: 30px;
  text-align: left;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative; }

.navigation a {
  text-decoration: none;
  color: #ffffff;
  transition: all 1s; }
.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
  text-align: left; }

.navigation ul ul {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: none;
  padding-top: 12px;
  background: #ffffff; }
.navigation p{
  color: #ffff00;
}
.navigation li:hover ul {
  display: block;
  position: absolute; }

.navigation ul ul a {
  color: #0097e6;
  display: block;
  padding: 0 24px; }

.navigation ul ul a:hover {
  color: #33d9b2; }
  .splash_title {
    text-align: center;
  }
  .splash_title h3 {
    font-size: 50px;
  }
  .splash_title h2 {
    font-size: 70px;
  }
.splash {
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.icon {
  text-align: center;
}
.services {
  display: block;
}
.menu {
  text-align: right;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
}

.card {
  margin: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding-bottom: 20px;
}
.description {
  border: 10px;
  border-color:
}
.brands {
  margin-bottom: 40px;
}

.footer {
  background: #eff2f5;
}

.footer .txt {
  padding-top: 6px;
}

.list-inline {
  text-align: right;
}

.products {
  margin-bottom: 40px;
}

.tworows h3 {
  color: #80ffbf;
  text-align: center;
}

.tworows {
  margin-bottom: 40px;
}

.tworows img:hover {
  filter: brightness(50%);
}

.threecolumns {
  margin-bottom: 40px;
}

.threecolumns:hover {
  text-align: center;
}

.fas {
  display: inline-block;
}

.threecolumns .card {
  padding: 3px;
  margin-bottom: 3px;
}

.threecolumns .card i {
  padding-top: 4px;
  padding-left: 3px;
}

.contact {
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}
.btn-one {
  background: #ffff00;
}

.contact i {
  font-size: 15px;
}

.contact {
  background: #eff2f5;
}

.icon {
  margin-left: 5px;
}

.btn-two {
  text-align: left;
}

.box {
  padding: 0 5px 0 5px;
  margin-bottom: 3px;
}

.text {
  font-size: 10px;
}
/*footer*/
.footer {
 text-align: center;
}
/*.footer ul {
    margin: 48px 0;
}*/
.footer li {
 font-size: 0px;
 line-height: 30px;
}

.footer i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
